/* Reseta o container para ocupar a tela toda sem margens */
.dashboard-python-container {
    width: 100%;
    height: 100vh; /* 100% da altura da tela */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Esconde barras de rolagem duplas */
    background-color: #0f172a; /* Cor de fundo escura do seu BI */
}

/* Deixa o iframe invisível nas bordas e gigante */
.iframe-python {
    width: 100%;
    height: 100%;
    border: none; /* Tira aquela borda feia de iframe padrão */
    display: block;
}